html {
    box-sizing: border-box;
}

body {
    margin: 0 10vw;
    margin-bottom: 10em;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    font-size: 17px;
}

::-moz-selection {
    /* Code for Firefox */
    background: #FFE61B;
}

::selection {
    background: #FFE61B;
}

h2 {
    position: relative;
    margin-top: 3em;
    margin-bottom: 0;
}

p {
    max-width: 40em;
    line-height: 1.6;
}

a,
a:visited {
    cursor: pointer;
    color: black;
}

.date {
    margin-top: 0;
    font-family: monospace;
    font-size: smaller;
}

.star {
    width: 1em;
    height: 1em;
}

.photo {
    margin-top: 1em;
    width: 18em;
    transform: rotateZ(356deg);
    border-radius: 3px;
}

.star:first-of-type {
    position: absolute;
    left: -1.25em;
}

.star:last-of-type {
    margin-left: 0.25em;
}

.tags {
    max-width: 700px;
    margin: 1em 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.tags li {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    padding: 0.2em 0.6em;
    border-radius: 0.8em;
    font-size: smaller;
    border: 1px solid black;
}

.icon {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}

.image-gallery {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
    grid-gap: 0.4em;
}

.thumb-image {
    position: relative;
    display: inline-block;
    border-radius: 1em;
    overflow: hidden;
}

.thumb-image::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1em;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}

.thumb-image img {
    display: block;
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
}

footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

footer img {
    height: 40px;
    width: 40px;
}

footer a {
    margin-top: 1em;
}

@media only screen and (max-width: 400px) {
    body {
        margin: 5vw;
    }

}

@media only screen and (max-width: 800px) {
    body {
        margin: 5vw;
    }

    .star:first-of-type {
        display: none;
    }

    .image-gallery {
        grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    }

    .thumb-image {
        margin: 0;
        display: inline-block;
        border-radius: 1em;
        overflow: hidden;
    }

    .thumb-image img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .slbContentOuter {
        padding: 0;
    }
    .photo {
        display: block;
        margin: 0 auto;
    }
}