body {
    padding: 5vh;
    padding-top: 3vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 16px;
    --text-1: 1.5rem;
}

::-moz-selection { /* Code for Firefox */
    background: #FFE61B;
}

::selection {
    background: #FFE61B;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: -1.25px;
    line-height: 1;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 1px currentColor;
}

h1, p {
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
}

.homelink {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: fit-content;
}

.homelink:hover {
    box-shadow: none;
}

.text-1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.15px;
}

.avatar {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    background-image: url(images/egor.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.avatar.small {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.icon:hover {
    box-shadow: none;
}

.artlink {
    margin-top: 1rem;
}

.artlink div {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(images/icons/pencil.svg);
    background-position: center;
}

.artlink:hover {
    box-shadow: none;
}

.artlink:hover div {
    background-image: url(images/icons/pencil-black.svg);
}

.icon.me {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url(images/egor.jpeg);
    background-size: 125%;
    background-position: center;
    margin-right: 1rem;
}

.icon.left {
    background-image: url("images/icons/arrow-left.svg");
}

.icon.right {
    background-image: url("images/icons/arrow-right.svg");
}

.icon.out {
    background-image: url("images/icons/arrow-right-diagonal.svg");
}

.icon.close {
    background-image: url("images/icons/close.svg");
}

.outlink {
    display: inline-block;
}

.outlink .icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-left: 0.5rem;
}

.block-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block-link a {
    margin-bottom: 0.5rem;
}

.block-link p {
    margin-bottom: 2rem;
}

.date {
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 2rem;
}

.nav .left {
    margin-right: auto;
}

.nav .right {
    margin-right: 0.5rem;
}

.nav a {
    display: flex;
    align-items: center;
}

.projects {
    margin-top: 3rem;
    line-height: 1.5;
}

.projects p:first-of-type {
    margin-bottom: 0.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2vw;
    margin-top: 3rem;
}

.thumb-image:hover {
    box-shadow: none;
}

.thumb-image:hover img {
    transform: scale(1.025);
}

.thumb-image img {
    width: 100%;
    border-radius: 4px;
    transition: transform 0.3s;
}

@media only screen and (max-width: 400px) {
    body {
        padding: 6vw;
    }

    h1 {
        font-size: 3.5rem;
    }

    .text-1 {
        font-size: 1.25rem;
    }

    .block-link a {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .image-gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
